/* common */

body {
    font-family: "Adobe Garamond Pro", "Helvetica Neue", "Segoe UI", sans-serif;
}

.block {
    border-bottom: 1px solid #E7E7E7;
}

.text-monospace {
    font-size: 11px;
}

.font-weight-bold {
    font-size: 17px;
}

.picture > img {
    width: 400px;
}

/* header */

#header {
    background-color: #FFFFFF !important;
}

#header .navbar-brand {
    font-weight: bold;
}


/* social media */

#header-social-media ul a:hover {
    background-color: #F7F7F7;
}

a img {
    height: 16px;
    width: 16px;
}


/* blur */

.picture > img {
    transition: all .4s ease;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.picture > img:hover {
    transition: all .4s ease;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}


/* vignette and preparation for displaying text */

.gallery-item {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.gallery-item .gallery-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery-item img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
    object-fit: cover;
    height: 310px;
}


/* hiding and showing when hovering carousel controls */

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    visibility: hidden;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    visibility: visible;
}

/* features */

.feature-block-up,
.feature-block-down {
    border-right: 1px solid #DCDCDC;
}

.feature-block-up,
.feature-block-up-l {
    border-bottom: 1px solid #DCDCDC;
}

#label-genius {
    margin-left: 12px;
}

/* write to us */

.form-textarea {
    max-width: 100%;
    width: 100%;
    display: block;
    max-height: 500px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}